body {
    background-color: whitesmoke;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.navigation{
    background-color: antiquewhite;
}
nav {
    margin: 20px;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: black;
}
.bg-image {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}